<div id="form1" style="width: fit-content; height: fit-content;">
    <div class="form2" style="border-style: solid; border-width: 1px;">
        <form>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div style="padding: 1em 2em 1em 1em;">
                    <label for="street2_id" class="control-label">Cliente</label>
                    <select class="browser-default custom-select"  [(ngModel)]="selectC" name="selectC">
                        <option value="{{item}}" *ngFor="let item of clients.content">{{item.name}}</option>
                      
                    </select>
    
                    <div>
                        <div class="form-group">
                            <label for="street2_id" class="control-label">Marca del Automovil</label>
                            <input  type="text" class="form-control" id="Marca" name="Marca" [(ngModel)]="marca" placeholder="example@ Chevrolet">
                        </div>
                        
                        <div class="form-group">
                            <label for="street2_id" class="control-label">Modelo</label>
                            <input  type="text" class="form-control" id="Modelo" name="Modelo" [(ngModel)]="model_car" placeholder="example@ 1998">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="d-flex flex-row bd-highlight mb-3">
                            <label for="street2_id" class="control-label">Tipo</label>
                            <select class="browser-default custom-select" name="select"  (change)="onType() " [(ngModel)]="selectT" >
                                <option value="serv">Servicio</option>
                                <option value="spare">Refaccion</option>
                                
                            </select>
                            <label for="street2_id" class="control-label">Descripcion</label>
                            <select class="browser-default custom-select" [(ngModel)]="selectD"  id="selectd" name="selectD">
                                <option value="{{item.service}}" *ngFor="let item of list.content"   >{{item.service}}</option>                                
                            </select>                                            
                        </div>                                                             
                        
                        <div class="form-group p-2 bd-highlight"> 
                            <button type="submit" class="btn btn-primary" (click)=addItemsTable() >añadir</button>
                        </div>  
                    </div>
                    <table class="table table-sm table-dark table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio</th>
                            <!--<th scope="col">Handle</th>-->
                          </tr>
                        </thead>
                        <tbody *ngFor="let item of carShoping" >
                          <tr>
                            <th scope="row">1</th>
                            <td>1</td>
                            <td>{{item.service}}</td>
                            <td>{{item.price}}</td>
                          </tr>
                        </tbody>
                    </table>   
                </div>
            </div>



            <div class="form-group p-2 bd-highlight"> 
              <button type="submit" class="btn btn-primary" (click)="edit ?  putNote() : postNote()" >Salvar</button>
            </div>     
          
            
        </form>
    </div>
</div>