<nav *ngIf="!login" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="boton5" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
        <li style="background-color: powderblue;">
            <a class="nav-link" href="/addFormS">Agregar nuevo Formulario</a>
        </li>
        <li>
            <a class="nav-link" href="/seeC">Ver servicio</a>
        </li>
        <li>
            <a class="nav-link" href="/autos">Añadir Auto</a>
        </li>
        <li>
            <a class="nav-link" href="/" (click)="logout()" >Salir</a>
        </li>                 
        </ul>
    </div>
</nav>